---
import apiRoutes from "../api.js";
import JobIcon from "../icons/JobIcon.astro";
import ProviderIcon from "../icons/ProviderIcon.astro";
import UserIcon from "../icons/UserIcon.astro";

const dataUsers = await fetch(`${apiRoutes.serviPlus}/totalUsers`).then(
  (response) => response.json()
);
const totalUsers = dataUsers;

const dataProviders = await fetch(`${apiRoutes.serviPlus}/totalProviders`).then(
  (response) => response.json()
);
const totalProviders = dataProviders;

const dataJobs = await fetch(`${apiRoutes.serviPlus}/totalJobs`).then(
  (response) => response.json()
);
const totalJobs = dataJobs;
---

<!-- component -->
<div
  class="antialiased w-full h-full bg-sky-300/5 text-gray-400 font-inter p-10"
>
  <div class="container px-4 mx-auto">
    <div>
      <div id="title" class="text-center my-10">
        <h1 class="font-bold text-4xl text-white">Sobre ServiPluss</h1>
      </div>
      <div
        class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 justify-evenly gap-10 pt-10"
      >
        <div
          id="plan"
          class="rounded-lg text-center overflow-hidden w-full transform hover:shadow-2xl hover:scale-105 transition duration-200 ease-in"
        >
          <div id="title" class="w-full py-5 border-b border-gray-800">
            <UserIcon class="h-12 w-12 mx-auto fill-stroke text-indigo-600" />
            <h2 class="font-bold text-3xl text-white">Usuarios</h2>
            <h3 class="font-extrabold text-indigo-500 text-4xl mt-2">
              {totalUsers}
            </h3>
          </div>
          <div id="content" class="">
            <div id="icon" class="my-5">
              <p class="text-gray-500 text-sm pt-2">
                Cantidad de usuarios registrados
              </p>
            </div>
          </div>
        </div>
        <div
          id="plan"
          class="rounded-lg text-center overflow-hidden w-full transform hover:shadow-2xl hover:scale-105 transition duration-200 ease-in"
        >
          <div id="title" class="w-full py-5 border-b border-gray-800">
            <ProviderIcon
              class="h-12 w-12 mx-auto fill-stroke text-indigo-600"
            />
            <h2 class="font-bold text-3xl text-white">Provedores</h2>
            <h3 class="font-extrabold text-indigo-500 text-4xl mt-2">
              {totalProviders}
            </h3>
          </div>
          <div id="content" class="">
            <div id="icon" class="my-5">
              <p class="text-gray-500 text-sm pt-2">
                Cantidad de provedores activos
              </p>
            </div>
          </div>
        </div>
        <div
          id="plan"
          class="rounded-lg text-center overflow-hidden w-full transform hover:shadow-2xl hover:scale-105 transition duration-200 ease-in"
        >
          <div id="title" class="w-full py-5 border-b border-gray-800">
            <JobIcon class="h-12 w-12 mx-auto fill-stroke text-indigo-600" />
            <h2 class="font-bold text-3xl text-white">Trabajos</h2>
            <h3 class="font-extrabold text-indigo-500 text-4xl mt-2">
              {totalJobs}
            </h3>
          </div>
          <div id="content" class="">
            <div id="icon" class="my-5">
              <p class="text-gray-500 text-sm pt-2">Trabajos realizados</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
